.page {
    color: pink;
}

.page h1 {
    color: azure;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.text {
    color: blueviolet;
}